@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Rubik:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(235, 226, 213);
    font-family: Lato, sans-serif;
}

header {
    height: 50px;
}

.navigation {
    display: flex;
    /* flex: auto; */
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

li {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: blue;
}

section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#group-photo {
    height: 320px;
    width: 100%;
    background: url('../images/group-photo.jpg') no-repeat center center;
}
h1 {
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 70px;
    margin: 10px;
    padding: 5px;
}

footer {
    height: 50px;
}

.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 160%;
}

.fa-youtube {
    color: red;
}
.fa-instagram {
    color: rgb(175, 50, 50);
}