@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Rubik:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: beige;
    font-family: Lato, sans-serif;
}

header {
    height: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.navigation a {
    font-size: 20px;
}

.active {
    border-bottom: 2px solid rgb(16, 69, 122);
    font-weight: bold;
}

header a:hover {
    border-bottom: 2px solid rgb(16, 69, 122);
    font-weight: bold;
}

li {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: rgb(16, 69, 122);
}

section {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*group-photo of girls in youth class*/

#group-photo {
    height: 320px;
    width: 100%;
    background: url('../images/group-photo.jpg') no-repeat center center;
}

/* Club Name*/

h1 {
    font-family: Rubik, sans-serif;
    font-size: 50px;
    text-align: center;
    color: beige;
    background-color:rgb(16, 69, 122);
    margin-top: 10px;
    padding: 5px;
    letter-spacing: 4px;
}

h2 {
    font-family: Lato, sans-serif;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

p {
    width: auto;
    text-align: center;
    font-family: Lato, sans-serif;
    padding: 5px;
}

footer {
    height: 50px;
    margin-top: 20px;
}

/*social-media links*/

.social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 160%;
}

.fa-youtube {
    color: red;
}
.fa-instagram {
    color: rgb(175, 50, 50);
}

/* classes page */

h3 {
    text-align: center;
    padding: 5px;
}

.blue {
    background-color: rgb(16, 69, 122);
    color: beige;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 100px;
}
.white {
    background-color: beige;
    color: rgb(16, 69, 122);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 100px;
}
#firstclass {
    width: 75%;    
}
.silhouett {
    width: 200px;
    height: 200px;
    background-image: url('../images/silhouettsmall.jpg');
}
#middleclass {
    width: 75%;    
}

#youthclass {
    width: 75%;    
}

/* sign-up form with background picture */

form {
    display: block;
}

.signup-section {
    background: url('../images/ballpicture03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 600px;
}

.signup-form {
    margin: 25px 10px 0 0;
    color: dodgerblue;
    max-width: 400px;
    background-color: #eeeeeeb0;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
}

#gender {
    display: block;
    margin-bottom: 15px;
}

input {
    text-align: start;
    display: inline-block;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 125%;
    background-color: rgb(16, 69, 122);
    color: floralwhite;
}
label {
    color: rgb(16, 69, 122);
}

#welldone {
    height: 500px;
}

/*media queries*/

@media screen and (max-width: 800px) {
    .blue {
        display: flex;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .white {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }   
}